body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}



.search-container {
  background: white;
  border-radius: 5px;
  justify-self: center;
  align-self: center;
  width: 40% ;
  display: flex;
  margin: 0 auto;
  color: #c4c4c4;
}

.app {
  width: 100vw;
  height:100%;
}

::-webkit-scrollbar {
  width: 5px;
  color: #c4c4c4;
 
  
}

::webkiy-scrollbar:hover {
  cursor: pointer;
}

::-webkit-scrollbar-track:hover {
  cursor: pointer;
}

 ::-webkit-scrollbar-track {
  margin-top: 50px;
  margin-bottom: 50px; 
  /* transform: translateX(-200px); */
  border-radius: 5px;
} 
.css-11zb1um {
  height: 100vh !important;
}

::-webkit-scrollbar-thumb {
  background: lightblue;

  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

.MuiTypography-h5 , .MuiTypography-h2 , .MuiTypography-h4{
  background: linear-gradient( to right , rgb(73, 73, 73), #b174a4, #ff6b08);
   -webkit-text-fill-color: transparent; 
   -webkit-background-clip: text;
   background-clip: text;
}


.modal-content {
 
  box-sizing: border-box;
  margin: 0 auto;
  flex-direction:column !important;
  max-height: 600px !important;
  
} 

.bottom-nav-container {
 
  position: fixed !important;
  bottom: 0% ;
  width: 100% ;
}
.css-4wdd6p-MuiBottomNavigation-root {
  position: relative !important;
 
}

.css-1w1rbvj {
justify-content: center;
  align-items: center;
}

@media screen and (min-width: 620px) {
  .modal-content {
   
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
   max-height: "";
    
  } 
/* 
  .modal-content > img {
    height: 500px;
  }
   */
}





@media  screen and (min-width: 768px) {
  
.css-1wrs2mz-MuiButtonBase-root-MuiBottomNavigationAction-root, .css-8btrp9-MuiButtonBase-root-MuiBottomNavigationAction-root {
  max-width: 200px !important;
}

.css-1wrs2mz-MuiButtonBase-root-MuiBottomNavigationAction-root ,
.css-8btrp9-MuiButtonBase-root-MuiBottomNavigationAction-root,
span{
  font-size: 23px !important;
}

.css-imwso6-MuiBottomNavigationAction-label {
  display: none !important;
}
  
}


@media screen and (min-width: 900px) {
  .bottom-nav  {
    display: flex !important;
    flex-direction: column !important;
    gap:20px !important;
    margin-top: -10rem !important; 
  }

 
  .MuiBottomNavigationAction-label {
    display: none !important;
 }   
}
